@import "../resets", "../variables", "../function", "../navbar", "../footer",
    "../button", "../scrollbar", "../default";

body {
    margin-top: 0;
}

// Navbar

nav > .nav-links > ul > li:nth-child(5) > a {
    color: $main-color;
}

// Login

section#login {
    height: 100vh;
    background: linear-gradient($overlay-dark, $overlay-dark),
        url("../../assets/images/main-bg.jpg");
    background-position: center, center;
    background-size: cover, cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
        background: $card-bg;
        width: 90%;
        max-width: 25rem;
        padding: 3rem 1rem;
        border-radius: 0.3rem;
        border: 1px solid rgba(#000, 0.3);

        h3 {
            display: block;
            color: $main-color;
            margin-bottom: 2rem;
        }

        hr {
            width: 70%;
            margin: 3.3rem auto 2.5rem;
            border: 1px solid rgba(#000, 0.2);
        }

        button[type="submit"] {
            cursor: pointer;
            background: none;
            border: 1px solid $secondary-color;
            padding: 0.6rem 0.8rem;
            font-size: $a-default-size;
            transition: color 200ms linear, background 200ms linear;

            &:hover {
                color: $card-bg;
                background: $secondary-color;

                i {
                    color: $card-bg;
                }
            }

            i {
                margin-right: 0.5rem;
                transition: color 200ms linear;
            }
        }
    }
}

// Footer

footer {
    margin-top: 0;
}
