.bg-white {
  background-color: #181818 !important;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
  color: rgb(161,103,197);
}

body {
  margin: 0;
  font-family: 'Aldrich';
  /*font-family: var(--bs-font-sans-serif);*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #24292b;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,0.83);
}

.clean-block.dark {
  background-color: #24292b;
}

.text-info {
  color: #973be0 !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #1d2122;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgb(211,132,203);
}

.img-thumbnail {
  padding: .25rem;
  background-color: #677073;
  border: 0px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

.clean-pricing-item {
  background-color: #191919;
  box-shadow: 0px 2px 10px rgba(0,0,0,.075);
  border-top: 2px solid #bb4cff;
  padding: 30px;
  overflow: hidden;
  position: relative;
}

a:hover {
  color: #c598ff;
}

.clean-pricing-item .price h4, .clean-pricing-item .price .h4 {
  margin: 15px 0;
  font-size: 45px;
  text-align: center;
  color: #2288f9;
  background: linear-gradient(-116deg, rgb(206,94,234), rgb(114,218,187) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clean-pricing-item .ribbon {
  width: 160px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136,136,136,.25);
  background: #4dbe3b;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 7px;
  /*font-size: 300%;*/
  background: linear-gradient(-116deg, rgb(255,142,135), rgb(114,137,218) 99%);
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}

.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-outline-primary {
  /*color: #e3eeff;*/
  border-color: rgb(255,255,255);
  background: linear-gradient(-116deg, rgb(234,144,94), rgb(114,218,187) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-outline-primary:hover {
  /*color: #fff;*/
  background: linear-gradient(116deg, rgb(94,234,150), rgb(218,114,208) 99%);
  border-color: rgb(154,154,154);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-light .navbar-toggler {
  color: rgb(255,255,255);
  border-color: rgb(255,255,255);
}

