@import "../resets", "../variables", "../function", "../navbar", "../footer",
    "../button", "../scrollbar", "../default";

// Navbar

nav > .nav-links > ul > li:nth-child(3) > a {
    color: $main-color;
}

// Pricing

section#pricing {
    padding: 0.5rem 0 4rem 0;

    h2 {
        font-size: 2rem;

        &.plan-name {
            color: rgba($main-color, 0.9);
        }
    }

    p {
        font-size: 1rem;

        &.section-description,
        &.plan-description,
        &.card-description {
            max-width: 35rem;
            line-height: 1.5rem;
            margin: 1rem auto 0;
            color: rgba($secondary-color, 0.7);
        }
    }

    hr.section-divide {
        margin: 6rem auto 4.5rem;
        width: 80%;
        max-width: 20rem;
        border: 1px solid rgba(#000, 0.2);
    }

    article {
        &.extreme {
            .pricing-card-container {
                .pricing-card {
                    &:nth-child(3) {
                        padding: 2rem 1rem;
                    }
                }
            }
        }

        .pricing-card-container {
            margin: auto;

            .pricing-card {
                background: $card-bg;
                margin-top: 2.5rem;
                margin-left: auto;
                margin-right: auto;
                padding: 2.55rem 1rem;
                max-width: 90%;
                border: 1px solid rgba(#000, 0.2);
                border-radius: 0 0 0.3rem 0.3rem;
                border-top: 2px solid $main-color;

                .head {
                    h3.card-head {
                        font-weight: weight("bold");
                    }

                    p.card-description {
                        color: rgba($secondary-color, 0.7);
                    }
                }

                hr.card-divide {
                    width: 80%;
                    margin: 2rem auto 0;
                    border: 1px solid rgba(#000, 0.2);
                }

                .body {
                    .specs {
                        p,
                        span {
                            font-size: $p-default-size;
                        }

                        p {
                            margin: 1.2rem auto;

                            &:nth-child(1) {
                                display: inline-block;
                                border-bottom: 2px solid
                                    rgba($secondary-color, 0.7);
                                margin-top: 2rem;
                            }

                            span {
                                font-weight: weight("bold");
                            }
                        }
                    }
                }

                .footer {
                    h2.price {
                        color: $main-color;
                        font-size: $h2-default-size;
                        margin-bottom: 2rem;
                    }

                    .button {
                        border: 1px solid $secondary-color;
                        color: $secondary-color;
                        margin-bottom: 1.6rem;

                        &:hover {
                            background: $secondary-color;
                            color: $card-bg;
                        }
                    }

                    p {
                        margin-top: 2rem;
                        font-size: 0.6rem;

                        &.footer-note {
                            margin-top: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        & {
            h2 {
                font-size: $h2-default-size;
            }

            h3 {
                font-size: $h3-default-size;
            }

            p {
                font-size: $p-default-size;
            }

            article {
                h2.plan-name {
                    font-size: $h2-default-size;
                }

                p.plan-description {
                    font-size: $p-default-size;
                }

                .pricing-card-container {
                    margin: auto;

                    .pricing-card {
                        .body {
                            .specs {
                                p,
                                span {
                                    font-size: $p-default-size;
                                }

                                p {
                                    font-size: $p-default-size;

                                    &:nth-child(1) {
                                        font-size: $p-default-size;
                                    }

                                    span {
                                        font-size: $p-default-size;
                                    }
                                }
                            }
                        }

                        .footer {
                            h2.price {
                                font-size: $h2-default-size;
                            }

                            .button {
                                font-size: $a-default-size;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1024px) {
        & {
            article {
                .pricing-card-container {
                    max-width: calc(100vw - 5rem);
                    margin: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .pricing-card {
                        width: clamp(30%, 100% / 3, 40%);

                        &:nth-child(2) {
                            margin-left: 2rem;
                            margin-right: 2rem;
                            margin-top: 6rem;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1440px) {
        & {
            article {
                .pricing-card-container {
                    max-width: 75%;
                }
            }
        }
    }
}
